<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge PANDI</title>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      main {
        padding: 5px;
        max-width: 100vw;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <h2>Upload File CSV atau Excel</h2>
      <div>
        <form action="/dashboard" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept=".csv, .xls, .xlsx" />
          <input type="submit" value="Unggah" />
        </form>
      </div>
    </main>
  </body>
</html>
